---
---
@import "vars";

h1, h2 {
  @include media-query($on-palm) {
    margin: 30px;
  }
}

/**
 * curriculum menu
 */
#cv-header {
  min-width: 200px;
  max-width: 28%;
  position: float;
  float: left;
  margin: 5px;
  padding: 5px;

  border-right: 1px solid $border-color;

  @include media-query($on-palm) {
    float: left;
    margin: auto;
    max-width: 98%;
    border-style: hidden;
  }
  ul {
    border-top: 1px solid $border-color;
  }
}

#cv-header ul {
  display: list-item;
  list-style: none;
  padding: 0;
  margin: 0;
}

#cv-header li {
  width: 280px;
  line-height: 1;
  margin: 8px;

  @include media-query($on-palm) {
    max-width: 80%;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

#cv-header ul a {
  color: $brand-color;
  display: inline;
}

#cv-header ul a strong {
  display: block;
}


#menu li {
  padding-left : 20px;
}

#social {
  margin: 10px;
}

#social li {
  margin: 5 px;
  width: 32px;
  float: left;
  display: inline;
}


.social-icon {
  height: 32px;
  color: $text-color;
}

/**
 * curriculum content
 */

section .octicon {
  width: 18px;
  text-align: center;
}

section {
  float: left;
  max-width: 67%;
  padding: 1%;
  margin: 0px 5px 5px 0px;

  @include media-query($on-palm) {
    float: left;
    margin: auto;
    max-width: 98%;
    margin: 5px;
    padding: 0;
  }
}

img.avatar {
  margin: 10px 0;
  border-radius: 3px;
  box-shadow: 0px 1px 3px $shadow-color;
}
