---
layout: default
meta-keywords: "github, computer, computer science, electronic, code, coding, program, programming"
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}
        {% for category in post.categories %} <a href="/tags/#{{ category }}">{{ category }}</a>{% endfor %}
        </span>
        <p>{{ post.excerpt | strip_html | strip_newlines }}</p>
      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
  <div class="pagination">
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="octicon octicon-chevron-left"></span></a>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      {{ page }}
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span class="octicon octicon-chevron-right"></span></a>
  {% endif %}
</div>
{% endif %}
  </div>

</div>
