<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <span class="menu-icon medium-octicon octicon-three-bars"></span>

      <div class="trigger">
        {% for page in site.pages %}
          {% if page.published %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">
              {% if page.icon %}
                <object class="medium-octicon data="svg/{{ page.icon }}.svg type="image/svg+xml"></object>
              {% endif %}
              <span class="page-title">{{ page.title }}</span>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
