<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
<meta property="og:type" content="website" />
<meta name="site_name" property="og:site_name" content="blasterbug.github.io" />
<meta name="author" property="og:author" content="Benjamin Sientzoff" />
<meta name="keywords" property="og:keywords" content="benjamin, sientzoff, freelance, developer, computer, sweden, france, french, programming, nodejs, python, c, arduino, real time, rest, restful" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
<meta name="viewport" content="width=device-width" />
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
