/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $serif-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Readable text
 */
p, blockquote, dd, dt {
  font-family: $serif-font-family;
  text-align:  justify;
  -moz-text-align-last: left; /* Code for Firefox */
  text-align-last:  left;
}

/**
 * bordered element
 */
 figure, blockquote, pre, code {
  background-color: $code-background-color;
  box-sizing: border-box;
  border-radius: 1px;
  border: 1px solid $border-color;
 }

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}


table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  padding: 6px 13px;
  border: 1px solid $border-color;
}

th {
  font-weight: bold;
  font-family: $sans-font-family;
}

tr {
  background-color: $table-background-color;

  &:nth-child(2n) {
    background-color: $table-2n-background-color;
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1, h2, h3, h4 ,h5, h6,
ul, ol, dl, figure {
  font-family: $sans-font-family;
}

/**
 * Images
 */
img {
  max-width: 100%;
  .centered {
    margin: auto;
    vertical-align: middle;
  }
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

dl {
  padding: 0px;
}

dt {
  font-weight: 600;
  color: $text-color;
  font-family: $sans-font-family;
  font-size: 1.1em;
  margin-top: 10px;
}


/**
 * Headings
 */
header {
  font-family: $sans-font-family;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3, {
  font-size: 1.6em;
}

h4, h5, h6 {
  font-size: 1.4em;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:hover, &:visited {
    color: $brand-color;
    text-decoration: underline;
  }
}



/**
 * Blockquotes
 */
blockquote {
  color: $text-color;
  border-left: 2px solid $text-color;
  background-color: $code-background-color;
  padding: $spacing-unit / 2;
  font-size: 1em;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */
pre,
code {
  font-family: $mono-font-family;
  white-space: pre-wrap;
  marging: 0;
}

code {
  padding: 1px 5px 1px;
}

pre {
  border-left: 2px solid $brand-color;
  border-radius: 1px;
  padding: 5px;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/**
 * Icons
 */
/*.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $text-color;
        }
    }
}
*/
