html,
body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'Inconsolata', monospace;
  font-size: $text-size;
  height: 100%;
  margin: 0;
  min-height: $min-height;
  padding: 0;
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $title-color;
  letter-spacing: .02em;
  margin: 0;
}

h1 {
  font-size: $text-size * 2.2;
}

h2 {
  font-size: $text-size * 2;
}

h3 {
  font-size: $text-size * 1.8;
}

h4 {
  font-size: $text-size * 1.6;
}

h5 {
  font-size: $text-size * 1.4;
}

h6 {
  font-size: $text-size * 1.2;
}

p {
  color: $text-color;
  text-align: justify;
  text-indent: 1em;
}

pre {
  padding: 1em;
}

a {
  &,
  &:link,
  &:visited {
    color: $accent-color;
    text-decoration: none;
  }

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-top;
}

.alternate-color {
  color: lighten($text-color, 20%);
}

.brand-logo {
  height: 32px;
  width: 32px;
}

.wrapper {
  padding: 0;
  position: relative;
}

header {
  margin: 0;
}


nav {
  left: 1em;
  padding: 1em;
  position: fixed;
  top: 2em;
  width: 250px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  @media only screen
  and (max-width: $screen-min-width) {
    display: none;
    padding: 0;
    position: relative;
    width: 98%;
  }
}

section {
  height: 100%;
  line-height: 1.2;
  margin: 0 auto;
  max-width: $section-max-width;
  min-width: $min-width;
  padding: 0 0 0 245px;
  width: 80%;
  @media only screen
  and (max-width: $screen-min-width) {
    display: inline;
    margin: 0;
    max-width: 100%;
    min-width: 480px;
    padding: 1em;
    position: relative;
  }
}

footer {
  bottom: 1em;
  height: 50px;
  left: 1em;
  margin: 0;
  padding: 1em;
  position: fixed;
  width: 350px;

  p {
    margin: 0;
    padding: 0;
    text-align: left;
    text-indent: 0;
  }
}

.cv-header {
  display: table;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
}

.cv-avatar {
  border-radius: 5px;
  display: table-cell;
  height: 200px;
  margin: 0;
  padding: 0;
  width: 200px;
}

.cv-header-info {
  display: table-cell;
  padding: 0 0 0 1em;
  vertical-align: middle;

  li {
    list-style: none;
  }
}

@media only screen
and (max-width: $screen-min-width) {
  body > *:not(script) {
    display: block;
    margin: 0;
    padding: 1em;
    position: relative;
  }

  nav {
    display: node;
  }

  footer {
    display: inline-block;
    height: auto;
    padding: 1em 0;
    position: relative;
  }

  .wrapper {
    padding: 1em;
  }

}

@media print {
  body > * {
    display: block;
    position: relative;
  }

  header,
  footer,
  nav,
  iframe {
    display: none;
  }

  section {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
