/**
 * curriculum menu
 */
#cv-header {
    min-width: 200px;
    max-width: 30%;
    position: float;
    float: left;
    margin: 0;
    padding: 0;
    
    @include media-query($on-palm) {
        float: left;
        margin: 5px;
        width: auto;
    }
}

#cv-header ul {
    display: list-item;
    list-style: none;
    padding: 0;
}

#cv-header li {
    width: 280px;
    line-height: 1;
    margin: 8px;
}

#cv-header ul a {
    color: $brand-color;
    display: inline;
}

#cv-header ul a strong {
    display: block;
}

#cv-header ul {
    padding: 30;
    margin: 15;
}

#menu li {
    list-style: circle;
    margin-left: 22px;
}

section {
    float: left;
    max-width: 68%;
    padding: 1%;
    
    @include media-query($on-palm) {
        margin: auto;
        max-width: 98%;
        float: left;
        margin: 5px;
        padding: 0;
    }
}

dt {
    font-weight: 700;
    color: $text-color;
}

img.avatar {
    border-radius: 3px;
}
