/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

SVG octicons

*/

.octicon, .mega-octicon, .medium-octicon {
  vertical-align: top;
  fill: currentColor;
  color: inherit;
  display: inline;
  text-decoration: none;
  text-rendering: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  speak: none;
}

.mega-octicon {
  font-size: 32px;
  height: 36px;
}

.medium-octicon {
  font-size: 24px;
  height: 24px;
}
