/*

.octicon is optimized for 16px.
.mega-octicon is optimized for 32px but can be used larger.

SVG octicons

*/

.octicon, .mega-octicon, .medium-octicon {
  margin-top : 2px;
  vertical-align: top;
  fill: currentColor;
  color: inherit;
  display: inline;
  text-decoration: none;
  text-rendering: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  speak: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.octicon {
  height: 16px;
}
.mega-octicon {
  height: 36px;
}

.medium-octicon {
  height: 24px;
  margin-top: 5px;
}
