/**
 * Tags list
 */
.tags-name {
  width: 235px;
  float: left;
  padding: 5px;
  margin:0px;
  display: block;
}

.tags-name h2 {
  text-transform: uppercase;
}

.tags-name li {
  margin: 2px 0px;
  list-style: none;
}