/**
 * Tags list
 */
.tag-block {
    width: 230px;
    float: left;
    padding: 5px;
    margin:0px;
    display: block;
}

.tag-name {
    text-transform: uppercase;
    font-weight : 400;
    color: $title-color;
}

.tag-list {
      margin: 2px 0px;
      list-style: none;
}

.tag-element {
    margin: 2px 0px;
    list-style: none;
}
