@import url("https://fonts.googleapis.com/css?family=Quicksand|Sanchez");
html, body { background-color: #fff; color: #3f3f42; font-family: "Sanchez", serif; font-size: 16px; font-weight: normal; height: 100%; margin: 0; padding: 0; width: 100%; }

* { box-sizing: border-box; }

dt, h1, h2, h3, h4, h5, h6 { color: #0038ff; font-family: "Quicksand", sans-serif; font-weight: normal; margin-top: 1.5em; }

h1 { font-size: 32px; }

h2 { font-size: 28.8px; }

h3 { font-size: 25.6px; }

h4 { font-size: 22.4px; }

h5 { font-size: 19.2px; }

h6 { font-size: 17.6px; }

dt, code, pre { font-family: "Quicksand", sans-serif; }

pre:not(:first-child), dt:not(:first-child) { padding-top: 1em; }

a, a:link, a:visited { color: #0038ff; text-decoration: underline; }
a:active, a:focus, a:hover { color: #d6e8f9; }
a:active .octicon, a:focus .octicon, a:hover .octicon { color: #0038ff; text-decoration: none; }

.octicon { align-content: center; align-items: center; align-self: center; display: inline-flex; fill: currentColor; margin: auto; padding: 0; }

.faces { fill: #0038ff; margin: auto; padding: 0; }

.size-64 { font-size: 64px; height: 64px; width: 64px; }

.size-128 { font-size: 128px; height: 128px; width: 128px; }

.brand-logo { height: 32px; width: 32px; }

.faces-180 { height: 180px; width: 180px; }

.wrapper { margin: 0; padding: 0; position: relative; }

header { margin: 0; }

nav { align-content: space-around; align-items: center; background: #0038ff; box-shadow: 0 1px 5px #3f3f42; color: #d6e8f9; display: inline-flex; font-family: "Quicksand", sans-serif; font-size: 20px; height: 30px; justify-content: space-around; margin: 0; padding: 0; position: fixed; text-align: center; top: 0; width: 100%; z-index: 2; }
nav ul { display: inline-flex; flex-wrap: nowrap; height: 25px; list-style: none; margin: auto; max-width: 500px; padding: 0; }
nav li { display: inline-flex; margin: auto; padding: 0; }
nav li a, nav li a:link, nav li a:visited { border-bottom: 2px solid transparent; color: #d6e8f9; display: flex; flex-grow: 0; margin: auto; padding: 0 12px; text-decoration: none; transition: all .3s ease-in-out; }
nav li a:active, nav li a:focus, nav li a:hover { border-color: #d6e8f9; text-decoration: none; }

section { height: 100%; line-height: 1.2; margin: 0 auto; max-width: 600px; padding: 0; width: 100%; }
section dt { margin: 0; padding: 1em 0; }
section dd, section p { color: #3f3f42; margin: 0; padding: 0; text-align: justify; text-indent: 1em; }
section iframe { display: block; margin: 0 auto; }

.footer-wrapper { align-content: space-around; align-items: center; background: #0038ff; color: #d6e8f9; display: inline-flex; flex-shrink: 0; flex-wrap: nowrap; font-family: "Quicksand", sans-serif; justify-content: space-around; margin: 0; min-height: 50px; padding: 0; width: 100%; }
.footer-wrapper a, .footer-wrapper a:link, .footer-wrapper a:visited { color: #d6e8f9; text-decoration: underline; }
.footer-wrapper a:active, .footer-wrapper a:focus, .footer-wrapper a:hover { color: #d6e8f9; }
.footer-wrapper a:active .octicon, .footer-wrapper a:focus .octicon, .footer-wrapper a:hover .octicon { fill: #d6e8f9; }
.footer-wrapper .footer-icon { height: 18px; margin: 0; padding: 0; }
.footer-wrapper footer { align-content: space-between; align-items: center; align-self: center; display: flex; flex-grow: 1; flex-wrap: wrap; justify-content: space-between; margin: auto; max-width: 600px; padding: 0; }
.footer-wrapper footer ul { display: inline-flex; flex-grow: 1; margin: auto; padding: 0; }
.footer-wrapper footer li { display: flex; flex-grow: 0; margin: auto; padding: 0 12px; text-align: left; text-indent: 0; }
.footer-wrapper footer li:first-child { padding-left: 2em; }

.cv-header { align-content: space-between; align-items: center; display: inline-flex; flex-grow: 1; flex-shrink: 0; flex-wrap: wrap; font-family: "Quicksand", sans-serif; justify-content: space-between; margin: 0 auto; max-width: 560px; padding: 12px; width: 100%; }
.cv-header > * { display: flex; flex-direction: column; flex-flow: column; margin: auto; }

.cv-avatar { display: table-cell; }
.cv-avatar img { border-radius: 50%; height: 200px; object-fit: cover; object-position: center; width: 200px; }

.cv-info { align-content: space-between; align-items: center; color: #0038ff; display: flex; flex-grow: 0; justify-content: space-between; margin: auto; padding: 6px; width: 300px; }
.cv-info li { align-self: flex-start; line-height: 1.5em; list-style: none; padding: 0; }
.cv-info h1, .cv-info h4 { flex-shrink: 0; margin: 0; width: 100%; }

.cv-extra { color: #0038ff; display: table; fill: #0038ff; left: 3%; margin-top: 1em; overflow: auto; position: fixed; top: 5em; }
.cv-extra ul { align-content: center; align-items: center; display: flex; flex-direction: column; flex-flow: column; justify-content: center; list-style: none; margin: 1em 0; padding: 0; }
.cv-extra li { align-content: center; align-items: center; align-self: flex-start; display: inline-flex; flex-grow: 1; margin: 3px 0; }
.cv-extra a { align-content: center; align-items: center; align-self: flex-start; display: inline-flex; flex-grow: 1; margin: 3px 0; text-decoration: none; }
.cv-extra a:active, .cv-extra a:focus, .cv-extra a:hover { color: #d6e8f9; }
.cv-extra a:active .octicon, .cv-extra a:focus .octicon, .cv-extra a:hover .octicon { fill: #d6e8f9; }
.cv-extra svg, .cv-extra span { margin: auto; text-decoration: none; }
.cv-extra svg { width: 16px; }
.cv-extra span { padding: 0 3px; }

@media only screen and (max-width: 1200px) { body > *:not(script) { margin: 0; padding: 0; position: relative; width: 100%; }
  section { display: block; margin: 0 auto; width: 95%; }
  .footer-wrapper { padding: 1em; width: 100%; }
  .footer-wrapper footer { height: auto; margin: 0 auto; padding: 0; position: relative; width: 400px; }
  .footer-wrapper footer li { display: table-row; }
  .hide-small { display: none; }
  .cv-avatar { margin: 0 auto; width: 200px; }
  .cv-avatar img { height: 200px; width: 200px; }
  .cv-extra { display: none; } }
@media only screen and (max-width: 450px) { body > *:not(script) { display: block; margin: 0; padding: 0; position: relative; }
  nav, .iframe-wrapper { display: none; }
  dd { margin: 0; padding-left: 10px; }
  .wrapper { width: auto; }
  section { padding: 2%; width: 100%; }
  .footer-wrapper { padding: 1em; width: 100%; }
  .footer-wrapper footer { height: auto; margin: 0 auto; padding: 1em 0; position: relative; width: 400px; }
  .footer-wrapper footer ul { display: table; padding: 1em; }
  .footer-wrapper footer li { display: table-row; }
  .cv-header { margin: 0 auto; width: auto; }
  .cv-header:last(child) { margin-top: 1em; }
  .cv-header .cv-avatar { display: table-row; }
  .cv-header .cv-info { display: table-row; margin: 0 auto; padding: 0; width: 250px; }
  .cv-header .cv-info h2 { font-size: 22.4px; }
  .cv-header .cv-info h4 { font-size: 19.2px; } }
@media print { body > * { display: block; position: relative; }
  header, footer, nav, .iframe-wrapper, .cv-extra, .footer-wrapper { display: none; margin: 0; }
  section { margin: 0 auto; padding: 0; width: 80%; }
  section .cv-header-info { margin: 0 auto; padding: 1em; }
  section .cv-header-info h2 { font-size: 25.6px; }
  section .cv-header-info h4 { font-size: 22.4px; } }
