@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:500&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro&subset=latin-ext,latin);
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro&subset=latin,latin-ext);
/*@import url(sanitrixie/sanitrixie.css);*/
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro&subset=latin,latin-ext);

body {
	max-width:800px;
	margin:0px auto 0px;
	padding:0px;
	font: normal 16px 'Source Serif Pro', serif;
	color:#777;
	font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Source Sans Pro', sans-serif;
	color:#666;
	margin:10px 0px 10px;
}

p, ul, ol, table, pre, dl, hr {
	margin:5px 10px 5px;
	padding:0px;
}

h1, h2, h3 {
	line-height:1.1;
}

h1 {
	font-size:28px;
}

h3, h4, h5, h6 {
	color:#505050;
}

a, a:visited {
	color:#39c;
	font-weight:400;
	text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

p{
	text-indent:12px;
	text-align: justify;
	-moz-text-align-last: left; /* Code for Firefox */
	text-align-last: left;
}

blockquote {
	border-left:1px solid #e5e5e5;
	margin:5px;
	padding:0px;
	font-style:italic;
}

code, pre {
	line-height:1;
	family:12px 'Anonymous Pro', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
	color:#333;
}

pre {
	background: #f8f8f8;
	border-radius:5px;
	border:1px solid #e5e5e5;
	overflow: auto;
}

table {
	width:100%;
	border-collapse:collapse;
}

th, td {
	text-align:left;
	padding:5px 10px;
	border-bottom:1px solid #e5e5e5;
}

dt {
	color:#444;
	font-weight:700;
}

th {
	color:#444;
}

img {
	margin:2px;
	max-width:100%;
}

strong {
	color:#444;
	font-weight:700;
}

header {
	width:300px;
	position:fixed;
}

header ul {
    display:inline;
	list-style:none;
	float:left;
	padding:0px 10px 0px;
}

header li {
	line-height:1;
	margin:10px 0px 5px;
}

header ul a {
	color:#39c;
	display:block;
}

header ul a strong {
	display:block;
}

section {
	margin:0px auto 0px;
	width:500px;
	float:right;
	padding-bottom:10px 10px 10px;
}

small {
	font-size:12px;
}

hr {
	border:0;
	background:#e5e5e5;
	height:1px;
}
footer {
	display:none;
}

#icons {
	position:fixed;
	bottom:0px;
	margin:10px;
}

.icon {
	margin:2px;
	float:left;
	height:28px;
	width:28px;
}

footer p {
	float:right;
}

@media print, screen and (max-width: 960px) {

	header a small {
		display:inline;
	}

	header ul {
		float:left;
	}
}

@media print, screen and (max-width: 800px) {
	body {
		word-wrap:break-word;
		width:100%;
	}

	header, section, footer, footer #icons {
		width:100%;
		padding:5px;
		margin:0px;
		position:static;
		float:left;
	}

	pre, code {
		word-wrap:normal;
	}

	header #icons {
		display:none;
	}

	footer {
		display:block;
	}

	footer .icon {
		float:left;
		height:32px;
		width:32px;
		margin:2px;
	}

	footer #icons {
		width:auto;
		position:static;
	}

	footer p {
		float:right;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		margin:0px;
		width:100%;
		padding:10px;
	}
	header, section, footer, #icons {
		width:100%;
		position:static;
	}

	header ul {
		display:none;
	}

	header #icons {
		display:none;
	}

	footer {
		display:block;
	}
	footer .icon {
		margin:2px;
		float:left;
		height:32px;
		width:32px;
	}

	footer p {
		float:right;
	}
}

@media print {
	body {
		padding:2in;
		font-size:12pt;
		color:#444;
	}

	header ul, footer, #icons {
		display:none;
	}
}
