<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    <%= title %>
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="<%= author %>">
  <meta name="description" content="<%= description %>">
  <meta name="googlebot" content="noarchive">
  <meta name="keywords" property="og:keywords" content="<%= keywords %>">
  <meta name="site_name" property="og:site_name" content="<%= title %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:author" content="<%= author %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image:height" content="460">
  <meta property="og:image:width" content="460">
  <meta property="og:image" content="https://avatars0.githubusercontent.com/u/891025">
  <meta property="og:locale" content="en_US">
  <meta property="og:site_name" content="<%= title %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= url %>">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" href="/favicon.ico">
  <%= metas %>
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
</body>

</html>
